name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '6.0']
        include:
        - dotnet-version: '6.0'
          install-3: false
          install-5: false
          display-name: '.NET 6.0'
          framework: 'net6'
          prefix: 'net6'

    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK ${{ matrix.dotnet-version }}
        uses: actions/setup-dotnet@v1.7.2
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - name: Display dotnet Version
        run: dotnet --version
      - name: Display Current Directory
        run: |
          pwd
          cd "${{ github.workspace }}/"
          pwd
      - name: Install Packages
        run: dotnet restore ./Part01/Ch02/Step01/MultipleUnitTests.sln
      - name: Build
        run: |
          dotnet build ./Part01/Ch02/Step01/MultipleUnitTests.sln \
            -c Release \
            --no-restore \
            --framework ${{ matrix.framework }} 
      - name: Test
        continue-on-error: true # proceed if tests fail, the report step will report the failure with more details.
        run: |
          dotnet test ./Part01/Ch02/Step01/MultipleUnitTests.sln \
            -c Release \
            --no-build \
            --verbosity normal \
            --framework ${{ matrix.framework }} \
            --logger "console;verbosity=detailed" \
            #--logger "trx;LogFilePrefix=${{ matrix.prefix }}" \
            #--results-directory "${{ github.workspace }}/TestResults" \
            /p:CollectCoverage=true \
            /p:CoverletOutput=./TestResults/Coverage/ \
            /p:CoverletOutputFormat=json%2clcov%2ccobertura%2copencover
